


@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.woff") format('woff');
    font-weight: 400;
}


@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.woff") format('woff');
    font-weight: 700;
    
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
max-width: 1120px;
height: auto;
margin: 0 auto;

}

img {

  max-width: 100%;
  height: auto;
  display: block;
  
    
}




.header {
    display: flex;
    height: 88px;
    width: 100%;
    padding: 5px;
    align-items: center;
    font-family: "TT Lakes";
    font-weight: 400;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    background: whitesmoke;
  
}



.header-title {
    margin: 0 20px 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
}


 .brands.swiper {
    max-width: 1120px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: whitesmoke;
   
}




 .brands .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 5px 5px 5px 10px;
    background: whitesmoke;
}


.brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 72px;
    width: 100%;
    border: 1px solid gainsboro;
    font-size: 16px;
    background: white;
    border-radius: 5px;
   
}



.brands .swiper-slide {
  width: auto;
  padding: 0px 20px 0px 0px;
   
}

.swiper-pagination {
   display: none;

}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

:root {
    --swiper-pagination-color: rgba(126, 126, 130, 1);
}


.circle-logo {
   display: flex;
   position: relative;
   width: 40px;
   height: 40px;
       
        
}


.dropdown {
    
    width: 7.5px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
    


.back {
    position: absolute;
     width: 40px;
     height: 40px;
    
}
        

#read-more {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: whitesmoke;
    padding: 10px 0px 10px 0px;

    
}

.read-more__btn {
    display: flex;
    flex-direction: row-reverse;
    max-width: 130px;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    gap: 15px;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    color: rgba(27, 28, 33, 1);
  
      
}



 .read-more[open] .arrow-icon {
    transform: rotate(180deg);
 }

.read-more__btn:hover {
    color: lightskyblue;
    cursor: pointer;
    
    
}

summary {
    list-style: none;
}


.arrow-icon {
    max-width: 8px;
    height: 10px;
    transition: transform 0.3 ease;
  
    
    
}


.last-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 1120px;
    padding: 0px 20px 20px 10px;
    background: whitesmoke;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    margin-bottom: 60px;
   
   
}

.second-menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 72px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    background: white;
   
}

details {
    display: block;
  

    
}

details[open] .arrow-icon {
    transform: rotate(180deg);

}

   .brand {
    width: 100%;
   }

@media (max-width: 768px) {
    .brands .swiper-wrapper {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
    .last-menu {
        padding: 12px;
    
    }
    
    .second-menu {
        display: flex;
        justify-content: space-evenly;
        width: 222.5px;
       
        
    }

    .read-more__btn {
    display: flex;
    flex-direction: row-reverse;
    max-width: 130px;
    align-items: center;
   
    gap: 5px;
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 16px;
    color: rgba(27, 28, 33, 1);
 
        
    }
}


@media(max-width: 320px) {
    .brands .swiper-wrapper {
        display: flex !important;
        background: whitesmoke;
        padding: 25px 0px 55px 25px;
        
    }

   
    #read-more {
        display: none;
    }
    
    .brands .swiper-slide {
       width: 240px !important;
      
    }

    .swiper-pagination {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 5px;
        margin-top: 20px;
        color: rgba(221, 221, 221, 1);
    }

    .swiper-pagination-bullet {
         width: 15px;
         height: 8px;
        opacity: 1;
        border-radius: 50%;
        margin-top: 10px;
        background-color: rgba(221, 221, 221, 1);
    }

    .swiper-pagination-bullet-active {
       
        margin-top: 2px;
       
     
    }
  
}