

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Regular.woff") format('woff');
    font-weight: 400;
}


@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Medium.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "TT Lakes";
    src: url("fonts/TTLakes-Bold.woff") format('woff');
    font-weight: 700;
    
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
max-width: 1120px;
height: auto;
margin: 0 auto;
background-color: white;

}

img {

  max-width: 100%;
  height: auto;
  display: block;
  
    
}




.header {
    display: flex;
    height: 88px;
    width: 100%;
    padding: 5px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    background: whitesmoke;
  
}



.header-title {
    margin: 0 20px 0 20px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
}


.swiper.brands {
    max-width: 1120px;
    margin: 0 auto;
    overflow: hidden;
    background-color: whitesmoke;
}


.brands .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 10px 20px 10px 20px;
    background: whitesmoke;
}


.brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 72px;
    width: 100%;
    border: 1px solid gainsboro;
    font-size: 16px;
    background: white;
    border-radius: 5px;
}



.brands .swiper-slide {
   width: 100%;
}

.swiper-pagination {
   display: none;

}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}




.circle-logo {
    display: flex;
   position: relative;
   width: 40px;
   height: 40px;
       
        
}


.dropdown {
    
    width: 7.5px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
    


.back {
    position: absolute;
     width: 40px;
     height: 40px;
    
}
        

.read-more {
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    display: inline-block;
    background-color: whitesmoke;
    padding: 10px 0px 10px 0px;

    
}

.read-more__btn {
    display: flex;
    flex-direction: row-reverse;
    width: 140px;
    align-items: center;
    justify-content: flex-start;
    
  


}

.read-more__btn:hover {
    color: lightskyblue;
    cursor: pointer;
    
}

summary {
    list-style: none;
}


.arrow-icon {
    width:  8px;
    height: 10px;

}

.swiper,
.last-menu,
.read-more__btn {
    padding-left: 20px;
    padding-right: 20px;
}


.last-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    background: whitesmoke;
    font-size: 16px;
    color: rgba(126, 126, 130, 1);
    margin-bottom: 30px;
   
   
}


details {
    display: block;
    
}



@media (max-width: 768px) {
    .brands .swiper-wrapper {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    
}


@media(max-width: 320px) {
    .brands .swiper-wrapper {
        display: flex !important;
        background: whitesmoke;
        
       
    }


    .read-more {
        display: none;
        
    }
   
    
    .brands .swiper-slide {
       width: 245px !important;
      
    }

    .swiper-pagination {
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 5px;
        margin-top: 12px;
       
       
    }

    .swiper-pagination-bullet {
         width: 8px;
         height: 8px;
        background-color: #ccc;
        opacity: 1;
        border-radius: 50%;
        margin-top: 10px;
    }

    .swiper-pagination-bullet-active {
        background-color: #666;
    }
    
    
}




